.hi_estilo{
  color: #6a1b9a;
}

.hi2_estilo{
  color: #6a1b9a;
}

.hi3_estilo{
  position: relative;
  top: 50px;
  color: #6a1b9a;
}

.hi4_estilo{
  position: relative;
  top: 10px;
  color: #6a1b9a;
}

.btn-violet-bg{
	content:url("/images/challenge.gif") ;
  width: 300px;
  height: auto;
  
}
.btn-pink-bg{
	content:url("/images/lm.gif");
  width: 300px;
  height: auto;
}
.btn-icono-bg{
	content:url("/images/icono.png") -130px -140px no-repeat;
}
.btn-create-account-bg{
	content:url("/images/ca.gif");
  width: 200px;
  height: auto;
}
.btn-signin-bg{
	content:url("/images/sign_in1.png");
  width: 185px;
  height: auto;
}
.btn-fiends-bg{
	content:url("/images/friends.gif");
  width: 250px;
  height: auto;
}
.btn-random-bg{
	content:url("/images/random.gif");
  width: 250px;
  height: auto;
}
.btn-lvl1-bg{
	content:url("/images/btn1_1.png") -130px -50px no-repeat;
}
.btn-lvl-bg{
	content:url("/images/btn.png") -130px -50px no-repeat;
}

.btn-lvl10-bg{
	content:url("/images/btn10_1.png") -130px -50px no-repeat;
}
.unir{
  padding-left: 10% !important;
}
.unir2{
  padding-right: 10% !important;
}