<template name="learning">
  <div class="row">
    <div class="center-align col s12 grid-example hi4_estilo"><span class="flow-text">Choose a level</span></div>
  </div>
  <div class="row">
     
        <a href="{{ pathFor 'lvl1_adjetivos' }}"> <div class="center-align col s5 offset-s1 offset-m1 m5 unir"> <img class="responsive-img btn-lvl1-bg" /></div></a>
        <div class="center-align col s5 m5 unir2"> <img class="responsive-img btn-lvl-bg" /></div>
        <div class="center-align col s5 offset-s1 offset-m1 m5 unir"> <img class="responsive-img btn-lvl-bg" /></div>
        <div class="center-align col s5 m5 unir2"> <img class="responsive-img btn-lvl-bg" /></div>
        <div class="center-align col s5 offset-s1 offset-m1 m5 unir"> <img class="responsive-img btn-lvl-bg" /></div>
        <div class="center-align col s5 m5 unir2"> <img class="responsive-img btn-lvl-bg" /></div>
        <div class="center-align col s5 offset-s1 offset-m1 m5 unir"> <img class="responsive-img btn-lvl-bg" /></div>
        <div class="center-align col s5 m5 unir2"> <img class="responsive-img btn-lvl-bg" /></div>
        <div class="center-align col s5 offset-s1 offset-m1 m5 unir"> <img class="responsive-img btn-lvl-bg" /></div>
        <div class="center-align col s5 m5 unir2"> <img class="responsive-img btn-lvl10-bg" /></div>
    
    </div>
 
</template>