<template name="Challenge" >
<div class="vertical-center espacio animated pulse infinite">
  <div class="container-align">
    <div class="row">
      <div class="col s12">
        <a class="image-btn" href="#">
        <div class="box waves-effect waves-light">
            <img class="responsive-img " src="/images/btn-red.png">
            <p>Multiplayer!</p>
        </div>
        </a>
      </div>
    </div>

    <div class="row">
        <div class="col s12">
        <a class="image-btn" href="#">
        <div class="box ">
            <img class="responsive-img" src="/images/btn-red.png">
            <p>Classic</p>
        </div>
        </a>
      </div>
    </div>

  </div>
</div>
</template>