<template name="Inicio">
  <div class="row">
    <div class="center-align col s12 grid-example hi_estilo"><span class="flow-text"><p>!Hi again¡</p></span></div>
    <div class="center-align col s12 grid-example hi2_estilo"><span class="flow-text">¿How do you want to practice English today?</span></div>
  </div>
  <div class="vertical-center no-espacio">    
    <div class="container-align">
      <div class="row">
        <div class="center-align">
          <div class="waves-effect waves-light">
            <a href="{{ pathFor 'Challenge' }}"><img class="responsive-img btn-violet-bg" /></a>
          </div>
        </div>   
        <div class="center-align">
          <div class="waves-effect waves-light">
            <a href="{{ pathFor 'learning' }}"><img class="responsive-img btn-pink-bg" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>