<template name="lvl1">
  <div class="row">
    <div class="center-align col s12 grid-example hi4_estilo"><span class="flow-text">Level 1</span></div>
  </div>
  <div class="row">
     
        <a href="{{ pathFor 'lvl1_adjetivos' }}"> <div class="center-align col s12 "> <img class="responsive-img btn-lvl1-bg" /></div></a>
        <div class="center-align col s12"> <img class="responsive-img btn-lvl-bg" /></div>
        <div class="center-align col s12"> <img class="responsive-img btn-lvl-bg" /></div>
        <div class="center-align col s12"> <img class="responsive-img btn-lvl-bg" /></div>
        <div class="center-align col s12"> <img class="responsive-img btn-lvl-bg" /></div>
        <div class="center-align col s12"> <img class="responsive-img btn-lvl-bg" /></div>
        <div class="center-align col s12"> <img class="responsive-img btn-lvl-bg" /></div>
        <div class="center-align col s12"> <img class="responsive-img btn-lvl-bg" /></div>
    
    </div>
 
</template>