<template name="Start" >
  <div class="mtop animated infinite fadeInDownBig">
  <div class="row">
    <div id="logo" class="center-align col s12">   
        <img class="responsive-img btn-icono-bg" />
    </div>
  </div>
  <div class="vertical-center no-espacio">    
    <div class="container-align">
      <div class="row">
        <div class="center-align">
          <div class="center-align col s12 grid-example hi_estilo"><span class="flow-text"><p>WELCOME¡</p></span></div>
          <div class="center-align col s12 grid-example hi2_estilo"><span class="flow-text">Let’s improve you english
      vocabulary!</span></div>                    
        </div>
      </div>
        <div class="center-align">
          <div  class="waves-effect waves-light">
            <img class="responsive-img btn-create-account-bg" />
          </div>
        </div>   
        <div class="center-align">
          <div class="waves-effect waves-light">
            <a href="{{ pathFor 'Inicio' }}"><img class="responsive-img btn-signin-bg" /></a>
          </div>
        </div>
      </div>
    </div>
 
    </div>
</template>