<template name="Challenge2">
  <div class="row">
    <div class="center-align col s12 grid-example hi3_estilo"><span class="flow-text">¿Who do you want to <br/>
compete with?</span></div>
  </div>
  <div class="vertical-center">    
    <div class="container-align">
      <div class="row">
        <div class="center-align">
          <div class="waves-effect waves-light">
            <img class="responsive-img btn-fiends-bg" />
          </div>
        </div>   
        <div class="center-align">
          <div class="waves-effect waves-light">
            <img class="responsive-img btn-random-bg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>