<template name="InsertQuestion">
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="pregunta" type="text" class="validate">
        <label for="pregunta">Pregunta</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="respuesta1" type="text" class="validate">
        <label for="respuesta1">respuesta1</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="respuesta2" type="text" class="validate">
        <label for="respuesta2">respuesta2</label>
      </div>
    </div>
        <div class="row">
      <div class="input-field col s12">
        <input id="respuesta3" type="text" class="validate">
        <label for="respuesta3">respuesta3</label>
      </div>
    </div>    
    <div class="row">
      <div class="input-field col s12">
        <input id="respuesta4" type="text" class="validate">
        <label for="respuesta4">respuesta4</label>
      </div>
    </div>
     <div class="row">
      <div class="input-field col s12">
        <input id="pcorrecta" type="text" class="validate">
        <label for="pcorrecta">respuesta correcta</label>
      </div>
    </div>
    
    
    <button id="submit-b" class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="mdi-content-send right"></i>
  </button>
  </form>
</div>

</template>